--extra-index-url https://download.pytorch.org/whl/cu116
bokeh==2.4.3 
matplotlib
jupyterlab-nvdashboard
datasets==2.17.1
tqdm==4.66.1
gluonts==0.14.4
transformers==4.37.2
torch==1.13.0+cu116
torchvision==0.14.0+cu116 
torchaudio==0.13.0
ujson==5.9.0
accelerate==0.27.2
scikit-learn==1.4.0
evaluate==0.4.1
IProgress==0.4
