--extra-index-url https://download.pytorch.org/whl/cu124
numpy==1.26
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0 
jupyterlab==4.3.4
deepspeed==0.14.5
transformers==4.45.0 
datasets
fire
pytz
loguru
sh
pytest
tqdm
jupyterlab-nvdashboard
nltk
rouge_score
sentencepiece
huggingface_hub
evaluate
tokenizers
IProgress
tqdm
tensorboard
torch-summary
matplotlib
jupyter_client
ipywidgets
accelerate>=0.26.0
pynvml==11.5.3
